
<head>
    <style>
        .navbar-brand{
        
        font-family: 'The Nautigal', cursive;
        font-size: 30px;
        color:rgb(147, 7, 124);
        letter-spacing: 2px;
        font-weight: bold;
    }    
    .admin-nav{
        background-color: rgb(246, 135, 95);
    }    

    </style>
</head>
<body>
    <div class="container-fluid admin-nav">
        <div class="row">
            <div class="col-12 col-sm-12">
                <a class="navbar-brand" href="#">LensWorld</a>
            </div>
        </div>
    </div>
</body>
</html>

