
<head>
    <style>
        .sidebar{
            width:280px;
            margin:0px;
            height:120vh; 
            background-color: rgb(5, 5, 5);
        }
        a{
            text-decoration: none;
        }
        p{
            font-size: 19px;
            
        }
        
    </style>
</head>
<body>
    <div class="container  sidebar ">
        <div class="container sidebar-body">
            <div class="sidebar-content">
                <div class="row ">
                    <div class="col-12 col-sm-12 mt-4">
                        <a href="#"><p id="home" style="color:rgb(255, 255, 255);" >Home</p></a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 col-sm-12">
                        <a href="/admin/dashboard"><p style="color:rgb(255, 255, 255)">Dashboard</p></a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-3 col-sm-12 ">
                        <a href="/admin/ProductMgm"><p style="color:rgb(255, 255, 255)">Product Management</p></a>
                    </div>
                </div>
        
                <div class="row mt-3">
                    <div class="col-12 col-sm-12">
                        <a href="/admin/usermgm"><p style="color:rgb(255, 255, 255)">User Management</p></a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 col-sm-12">
                        <a href="/admin/categoryMgm"><p style="color:rgb(255, 255, 255)">Category Management</p></a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-sm-12">
                        <a href="/admin/orderStatus"><p style="color:rgb(255, 255, 255)">Order Status</p></a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-sm-12">
                        <a href="/coupon/couponMgmSys"><p style="color:rgb(255, 255, 255)">Coupon Management</p></a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-sm-12">
                        <a href="/admin/bannerMgm"><p style="color:rgb(255, 255, 255)">Banner Management</p></a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-sm-12">
                        <a href="/admin/orderReturn"><p style="color:rgb(255, 255, 255)">order Return</p></a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-sm-12">
                        <a href="/admin/logout"><p style="color:rgb(255, 255, 255)">Logout</p></a>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</body>
</html>
